.bg-violet{
    background-color: rgb(157, 13, 167);
    color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.data-game{
    display: flex;
}